@import '../../styles/variables.scss';

.autocomplete {
    width: 100%;

    .dropdown-container {
        input[type=text] {
            width: 100%;
            padding: 10px 15px;
            font-size: 25px;
            border: 1px solid $border-color;
            border-radius: 10px;
            margin: 0;
        }

        &:focus-within input[type=text], input[type=text]:focus {
            border: 1px solid $border-color-active;
            border-bottom: 0;
            border-radius: 10px 10px 0 0;
        }

        .dropdown {
            ul {
                width: 100%;

                li {
                    display: block;
                    width: 100%;
                }
            }

            .scrollable {
                scrollbar-color: $border-color transparent;
                scrollbar-width: thin;
            }
        }
    }
}